<div id="about" class="section-padding">
    <div class="container">
        <div class="row">
            {{ list_view.view({'parent':15,'template':'home/about_block'}) }}
        </div>
    </div>
</div>