<section id="services" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">{{ field_view.view(16,'name') }}</h2>
            </div>
        </div>
        <div class="row">
            {{ list_view.view({'parent':16,'template':'home/service'}) }}

        </div>
    </div>
</section>