<div id="sliders">
    <div class="full-width">
        <!-- light slider -->
        <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {{ list_view.view({'parent':2,'template':'home/slider_dott'}) }}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {{ list_view.view({'parent':2,'template':'home/slider'}) }}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>