<div class="single-testimonial-area">
    <div class="container">
        <div id="single-testimonial-item" class="owl-carousel">
            {{ list_view.view({'parent':18,'template':'home/testimonial'}) }}
        </div>
    </div>
</div>