<div class="col-lg-3 col-md-6 col-xs-12">
    <div class="about block text-center">
        <img src="{{ image_view.thumb(image) }}" alt="">
        <h5><a href="{{ path('page',{'slug':slug}) }}">{{ name }}</a></h5>
        <p>{{ description }}</p>
    </div>
</div>