<div class="col-lg-3 col-md-6 col-xs-12 count-one">
    <span class="icon"><i class="fa fa-{{ content }}"> </i></span>
    <h3 class="timer count-value" data-to="{{ description }}" data-speed="1000">{{ description }}</h3>
    <hr class="width25-divider">
    <small class="count-title">{{ name }}</small>
</div>