<div class="col-md-6 col-lg-4 col-xs-12">
    <div class="service-box">
        <div class="service-icon">
            <i class="fa fa-{{ content }}"></i>
        </div>
        <div class="service-content">
            <h4><a href="{{ path('page',{'slug':slug}) }}">{{ name }}</a></h4>
            <p>
                {{ description }}
            </p>
        </div>
    </div>
</div>