<div class="carousel-item {% if key == 0 %}active{% endif %}">
    <img src="{{ image_view.main(image) }}" alt="">
    <div class="carousel-caption">
        <h3 class="slide-title animated fadeInDown">{{ name }}</h3>
        <h5 class="slide-text animated fadeIn">{{ description }}</h5>
        <a href="#" class="btn btn-lg btn-common animated fadeInUp">Get Started</a>
        <a href="#" class="btn btn-lg btn-border animated fadeInUp">Learn More</a>
    </div>
</div>