<div class="item">
    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">
            <div class="testimonial-inner text-md-center">
                <blockquote>
                    {{ content }}
                </blockquote>
                <div class="testimonial-images">
                    <img class="img-circle text-md-center" src="{{ image_view.thumb(image) }}" alt="">
                </div>
                <div class="testimonial-footer">
                    <i class="fa fa-user"></i> {{ name }}
                </div>
            </div>
        </div>
    </div>
</div>