{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    Your content here vasd as da da

    {{ dump(resources) }}

    <ul>
        {% for resource in resources %}

            <li>{{ resource.name }}
                {% if resource.children is defined %}
                {% include 'admin/resources/subtree.html.twig' with {'resources': resource.children, 'parentId':resource.id} %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}