<ul>
    {% for resource in resources %}
        <li> {% include 'admin/resources/resource_item.html.twig' with {'resources': resource } %}
            {% if resource.children is defined %}
                {% include 'admin/resources/subtree.html.twig' with {'resources': resource.children, 'parentId':resource.id} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>